<ion-pane>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title"><center>ORDEM DE SERVIÇO Nº {{titulo}}</center></h1>
    </ion-header-bar>
      <ion-content class="corpo">

        <div class="list list-inset">
            <label class="item item-input">
                <input type="number" id="im" placeholder="inscrição municipal" ng-model="im">
            </label>


            <button class="button button-full button-positive" ng-click='buscar()' ng-disabled='proteger'>
            buscar
            </button>
            
            <button class="button button-full button-positive" ng-click="limpar()">
            limpar
            </button>

            <label class="item item-input">
                <input type="text" id="titular" ng-model="titular" placeholder="nome do titular" ng-disabled='proteger'>
            </label>

            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        Status
                    </div>

                            <select ng-model="status" id="status" ng-change='selecionar()'>
                            <option ng-repeat = 'l in listaEscolha'>{{l}}</option>
                            
                            </select>

                </label>
            </div>

            <button class="button button-full button-positive"  ng-show='clickInconformidade' ng-click='multar()'>
            Lançar infração
            </button>

            <button class="button button-full button-positive" ng-show='clickConformidade' ng-click='novaFiscalizacao()'>
            Salvar
            </button>

            <button class="button button-full button-positive" ng-show='clickEncerrar' ng-click='encerrar()'>
            Encerrar
            </button>

             <button class="button button-full button-positive" ng-show='clickVistoria' ng-click='vistoriar()'>
            Vistoriar
            </button>

             <button class="button button-full button-positive" ng-show='clickSolicitar' ng-click='solicitar()'>
            Solicitar
            </button>

            <button class="button button-full button-positive" ng-show='clickVisualisar' ng-click='visualisar()'>Ver OS
            </button>

            <button class="button button-full button-positive" ng-show='clickCuca' ng-click='pesquisar()'>SCCA
            </button>


        </div>


    </ion-pane>

